<body bgcolor="blue">
<p><center><font color="#3FC7F4" face="verdana,arial,sans-serif" size ="4"><b>Congratulations!  You have received a gift certificates for <%= @gift_card.original_value %> from,</center></p>
<center>
<p> <font color="#3FC7F4" face="verdana,arial,sans-serif"><%= @gift_card.name %></p></font></font>
<font color="#3FC7F4" face="verdana,arial,sans-serif" >
<p> Please enjoy your voucher at our on-line store,<a href="http://www.gourmetgoldmine.com.au">www.gourmetgoldmine.com.au</a></p>
<p> We hope you can source all the hard-to-find ingredients and utensils you've been looking for.</p>
</font>

<table>
<tr>
<td><a href="http://www.gourmetgoldmine.com.au/spree/products/53/small/Layer-Cake.jpg" target="_blank"><img src="http://www.gourmetgoldmine.com.au/spree/products/53/small/Layer-Cake.jpg" width="70" height="70" border="0"></a></td>
<td> </td><td> </td><td> </td><td> </td><td> </td><td> </td><td> </td><td> </td><td> </td><td> </td><td> </td><td> </td><td> </td><td> </td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
<td><a href="http://www.gourmetgoldmine.com.au/spree/products/16/small/rose-buds.jpg" target="_blank"><img src="http://www.gourmetgoldmine.com.au/spree/products/16/small/rose-buds.jpg"  width="70" height="70" border="0"></a></td>
<td> </td><td> </td><td> </td><td> </td><td> </td><td> </td><td> </td><td> </td><td> </td><td> </td><td> </td><td> </td><td> </td><td> </td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
<td><a href="http://www.gourmetgoldmine.com.au/spree/products/70/small/lemon-myrt.jpg?1342326112" target="_blank"><img src="http://www.gourmetgoldmine.com.au/spree/products/70/small/lemon-myrt.jpg?1342326112" width="70" height="70" border="0"></a></td>
<td> </td><td> </td><td> </td><td> </td><td> </td><td> </td><td> </td><td> </td><td> </td><td> </td><td> </td><td> </td><td> </td><td> </td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
<td><a href="http://www.gourmetgoldmine.com.au/spree/products/184/small/vinegar-raspberry.jpg?1346477125" target="_blank"><img src="http://www.gourmetgoldmine.com.au/spree/products/184/small/vinegar-raspberry.jpg?1346477125" width="70" height="70" border="0"></a></td>
<td> </td><td> </td><td> </td><td> </td><td> </td><td> </td><td> </td><td> </td><td> </td><td> </td><td> </td><td> </td><td> </td><td> </td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
<td><a href="http://www.gourmetgoldmine.com.au/spree/products/63/small/Preserved-Lemons.jpg?1342177396" target="_blank"><img src="http://www.gourmetgoldmine.com.au/spree/products/63/small/Preserved-Lemons.jpg?1342177396" width="70" height="70" border="0"></a></td>
</tr>
</table>

<center>
 <a href="/"><img alt="gourmet" src="http://4.bp.blogspot.com/-PwcpwM_38-4/UEQpey1G-7I/AAAAAAAAADs/bA3RhTsmGro/s1600/banner%2B940px.png" /></a>
 <p>
 	 <font color="#3FC7F4" size ="6"><h2><div id="snippet_1">you're ready to cook!</div></font></h2>
 </p>
<font color="C90B2B" face="verdana,arial,sans-serif">
<p> Enter code  <%=@gift_card.code%> at the checkout to redeem your <%= @gift_card.original_value %> value. </p>
<p> Voucher expires On <%=Date.today + 365.day%></p>
<p> please see the website ( </font><font color="#3FC7F4"><a href="http://www.gourmetgoldmine.com.au/customer-service">http://www.gourmetgoldmine.com.au/customer-service</a> </font>) <font color="C90B2B">for full terms and conditions.</p>
</b></center></font>
